.root {
  width: min-content;
  height: min-content;
  flex-direction: column;
  background-color: #fff;
}
.depthFrame {
  width: 390px;
  height: 844px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.depth1Frame {
  width: 390px;
  height: 115px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}
.depth2Frame {
  width: 390px;
  height: 115px;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 8px;
}
.depth3Frame {
  width: 358px;
  height: 48px;
  place-content: space-between;
  align-items: flex-start;
}
.depth4Frame {
  width: 48px;
  height: 48px;
  align-items: center;
}
.depth5Frame {
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.depth6Frame {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.depth7Frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.0006px;
  height: 15.0006px;
  flex-direction: column;
}
.depth3Frame1 {
  width: 156px;
  height: 48px;
}
.depth1Frame1 {
  width: 390px;
  height: 283.5px;
  align-items: flex-start;
  padding: 16px;
}
.depth2Frame2 {
  width: 358px;
  height: 251.5px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.depth3Frame2 {
  width: 128px;
  height: 195.5px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.depth4Frame2 {
  width: 128px;
  height: 128px;
  flex-direction: column;
  align-items: flex-start;
}
.depth5Frame2 {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 64px;
  background-image: url('./depth5Frame.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.depth4Frame1 {
  width: 116.6406px;
  height: 51.5px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.depth5Frame3 {
  width: 102.4375px;
  height: 27.5px;
  flex-direction: column;
}
.depth6Frame2 {
  width: min-content;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.allisonW {
  color: #121717;
  font-size: 22px;
  line-height: 27.5px;
  font-weight: bold;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.33px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.depth5Frame1 {
  width: 116.6406px;
  height: 24px;
  flex-direction: column;
}
.depth6Frame3 {
  width: min-content;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.Allisonw2043 {
  color: #617d8a;
  font-size: 16px;
  line-height: 24px;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.depth3Frame12 {
  width: 358px;
  height: 40px;
  align-items: flex-start;
}
.depth4Frame3 {
  width: 358px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
}
.depth5Frame4 {
  width: 358px;
  height: 40px;
  place-content: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 12px;
  background-color: #f0f2f5;
  overflow: hidden;
}
.depth6Frame4 {
  width: 76.5938px;
  height: 21px;
  flex-direction: column;
  background-color: #f0f2f5;
  overflow: hidden;
}
.depth7Frame2 {
  width: min-content;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.editProfile {
  color: #121717;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.21px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.depth1Frame2 {
  position: relative;
  width: 390px;
  height: 56px;
  align-items: flex-start;
  padding: 0 16px;
  background-color: #fff;
}
.depth2Frame3 {
  position: absolute;
  left: 16px;
  top: 14px;
  width: 358px;
  height: 28px;
  align-items: center;
  gap: 16px;
}
.depth3Frame3 {
  width: 314px;
  height: 24px;
  flex-direction: column;
  overflow: hidden;
}
.depth4Frame4 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.payTaxes {
  color: #121717;
  font-size: 16px;
  line-height: 24px;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.depth3Frame13 {
  width: 28px;
  height: 28px;
  place-content: flex-end;
  align-items: flex-start;
}
.depth4Frame5 {
  width: 28px;
  height: 28px;
  flex-direction: column;
  align-items: flex-start;
}
.depth5Frame5 {
  width: 28px;
  height: 28px;
  place-content: center;
  align-items: center;
}
.depth6Frame5 {
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame3 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.depth8Frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.0006px;
  height: 15.0004px;
  flex-direction: column;
}
.depth1Frame4 {
  position: relative;
  width: 390px;
  height: 56px;
  align-items: flex-start;
  padding: 0 16px;
  background-color: #fff;
}
.depth2Frame4 {
  position: absolute;
  left: 16px;
  top: 14px;
  width: 358px;
  height: 28px;
  align-items: center;
  gap: 16px;
}
.depth3Frame4 {
  width: 314px;
  height: 24px;
  flex-direction: column;
  overflow: hidden;
}
.depth4Frame6 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.changeAddress {
  color: #121717;
  font-size: 16px;
  line-height: 24px;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.depth3Frame14 {
  width: 28px;
  height: 28px;
  place-content: flex-end;
  align-items: flex-start;
}
.depth4Frame7 {
  width: 28px;
  height: 28px;
  flex-direction: column;
  align-items: flex-start;
}
.depth5Frame6 {
  width: 28px;
  height: 28px;
  place-content: center;
  align-items: center;
}
.depth6Frame6 {
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame4 {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.depth8Frame2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.0006px;
  height: 15.0004px;
  flex-direction: column;
}
.depth1Frame5 {
  width: 390px;
  height: 245px;
  flex-direction: column;
  padding: 185.5px 0 0;
}
.depth1Frame6 {
  width: 390px;
  height: 72px;
  align-items: flex-start;
  padding: 12px 16px;
}
.depth2Frame5 {
  width: 358px;
  height: 48px;
  place-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 12px;
  background-color: #40c2f7;
  overflow: hidden;
}
.depth3Frame5 {
  width: 60.6875px;
  height: 24px;
  flex-direction: column;
  background-color: #40c2f7;
  overflow: hidden;
}
.depth4Frame8 {
  width: min-content;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.logOut {
  color: #121717;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.depth1Frame7 {
  width: 390px;
  height: 20px;
  flex-direction: column;
  padding: 0 0 20px;
  background-color: #fff;
}
