@font-face {
    font-family: myFont;
    src: url('RubikDoodleShadow-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: mySecondFont;
    src: url('Heebo-VariableFont_wght.ttf');
    font-weight: bold;
}

@font-face {
    font-family: myThirdFont;
    src: url('SecularOne-Regular.ttf');
    font-weight: bold;
}
.unselectedResident {
    color: #4f7396;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    font-family: Public Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.unselectedStatus {
    width: 175px;
    height: 32px;
    place-content: center;
    align-items: center;
    padding: 0 8px;
    border-radius: 12px;
    overflow: hidden;
}
.selectedResident {
    color: #0d141c;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    font-family: Public Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}
.selectedStatus {
    width: 175px;
    height: 32px;
    place-content: center;
    align-items: center;
    padding: 0 8px;
    border-radius: 12px;
    background-color: #f7fafc;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px #0000001a;
}
.t1 {
    width: 390px;
    height: 64px;
    place-content: center;
    align-items: center;
    padding: 12px 16px;
}

.t2 {
    width: 358px;
    height: 40px;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 12px;
    background-color: #f9f9f9;
}

.t3 {
    flex-wrap: wrap;
    align-content: flex-end;
    width: 122.4063px;
    height: 21px;
    flex-direction: column;
    overflow: hidden;
}

.t4 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    /*flex-direction: column;*/
}

.t5 {
    flex-wrap: wrap;
    align-content: flex-end;
    width: 121.6563px;
    height: 21px;
    flex-direction: column;
    overflow: hidden;
}

.t6 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}
.cfont {
    /*border: 1px solid red;*/
    position: absolute;
    /*float: right;*/
    /*width: 300px;*/
    /*right: 300px;*/
    /*height: 0px;*/
    height: auto;
    width: auto;
    left: 120px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    font-family: myThirdFont mySecondFont sans-serif;
    font-size: 16px;
    text-align: center;
}

.cfont4 {
    /*border: 1px solid red;*/
    position: absolute;
    /*float: right;*/
    /*width: 300px;*/
    /*right: 300px;*/
    /*height: 0px;*/
    height: auto;
    width: auto;
    left: 99px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    font-family: myThirdFont mySecondFont sans-serif;
    font-size: 16px;
    text-align: center;
}

.cfont5 {
    /*border: 1px solid red;*/
    position: absolute;
    /*float: right;*/
    /*width: 300px;*/
    /*right: 300px;*/
    /*height: 0px;*/
    height: auto;
    width: auto;
    left: 90px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    font-family: myThirdFont mySecondFont sans-serif;
    font-size: 16px;
    text-align: center;
}

.cfont6 {
    /*border: 1px solid red;*/
    position: absolute;
    /*float: right;*/
    /*width: 300px;*/
    /*right: 300px;*/
    /*height: 0px;*/
    height: auto;
    width: auto;
    left: 70px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    font-family: myThirdFont mySecondFont sans-serif;
    font-size: 16px;
    text-align: center;
}


.root {
    width: min-content;
    height: min-content;
    flex-direction: column;
    background-color: #fff;
}

.depthFrame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 390px;
    height: 844px;
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
}

.depth1Frame {
    width: 390px;
    height: 72px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 8px;
    background-color: #fff;
}

.depth2Frame {
    width: 358px;
    height: 48px;
    place-content: space-between;
    align-items: center;
}

.depth3Frame {
    width: 48px;
    height: 48px;
    align-items: center;
}

.depth4Frame {
    width: 24px;
    height: 24px;
    flex-direction: column;
    align-items: flex-start;
}

.depth5Frame {
    position: relative;
    width: 24px;
    height: 24px;
    align-items: flex-start;
    overflow: hidden;
}

.vector {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    overflow: visible;
}

.icon {
    width: 100%;
    height: 100%;
}

.depth6Frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 15.0008px;
    height: 15.0008px;
    flex-direction: column;
}

.depth3Frame1 {
    width: 262px;
    height: 22.5px;
    place-content: center;
    align-items: center;
}

.depth4Frame2 {
    /*width: 149.8594px;*/
    height: 22.5px;
    flex-direction: column;
    overflow: hidden;
}

.depth5Frame2 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.shippingAddress {
    color: #121717;
    font-size: 18px;
    line-height: 22.5px;
    font-weight: bold;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.27px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth3Frame2 {
    width: 48px;
    height: 48px;
    align-items: flex-start;
}

.depth4Frame3 {
    width: 48px;
    height: 48px;
    place-content: flex-end;
}

.depth1Frame1 {
    width: 390px;
    height: 112px;
    align-items: center;
    padding: 12px 16px;
}

.depth2Frame2 {
    width: 358px;
    height: 88px;
    align-items: flex-end;
}

.depth3Frame3 {
    width: 358px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
}

.depth4Frame4 {
    display: flex;
    width: 358px;
    height: 32px;
    flex-direction: column;
    padding: 0 0 8px;
}

.firstName {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.depth4Frame1 {
    width: 358px;
    height: 56px;
    align-items: center;
}

.depth5Frame3 {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    width: 358px;
    height: 56px;
    place-content: space-around;
    align-items: flex-start;
    padding: 15px;
    outline: solid 1px #dbe3e5;
    outline-offset: -1px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.depth6Frame2 {
    width: 28.9688px;
    height: 24px;
    flex-direction: column;
    overflow: hidden;
}

.depth7Frame {
    width: 100%;
    /*width: min-content;*/
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.ellis {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth1Frame2 {
    width: 390px;
    height: 112px;
    align-items: center;
    padding: 12px 16px;
}

.depth2Frame3 {
    width: 358px;
    height: 88px;
    align-items: flex-end;
}

.depth3Frame4 {
    width: 358px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
}

.depth4Frame5 {
    width: 358px;
    height: 32px;
    flex-direction: column;
    padding: 0 0 8px;
}

.lastName {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.depth4Frame12 {
    width: 358px;
    height: 56px;
    align-items: center;
}

.depth5Frame4 {
    width: 358px;
    height: 56px;
    place-content: space-around;
    align-items: flex-start;
    padding: 15px;
    outline: solid 1px #dbe3e5;
    outline-offset: -1px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.depth6Frame3 {
    width: 38.1875px;
    height: 24px;
    flex-direction: column;
    overflow: hidden;
}

.depth7Frame2 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.zhou {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth1Frame3 {
    width: 390px;
    height: 112px;
    align-items: center;
    padding: 12px 16px;
}

.depth2Frame4 {
    width: 358px;
    height: 88px;
    align-items: flex-end;
}

.depth3Frame5 {
    width: 358px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
}

.depth4Frame6 {
    width: 358px;
    height: 32px;
    flex-direction: column;
    padding: 0 0 8px;
}

.city {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.depth4Frame13 {
    width: 358px;
    height: 56px;
    align-items: center;
}

.depth5Frame5 {
    width: 358px;
    height: 56px;
    place-content: space-around;
    align-items: flex-start;
    padding: 15px;
    outline: solid 1px #dbe3e5;
    outline-offset: -1px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.depth6Frame4 {
    width: 70.9375px;
    height: 24px;
    flex-direction: column;
    overflow: hidden;
}

.depth7Frame3 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.enterCity {
    color: #617d8a;
    font-size: 16px;
    line-height: 24px;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth1Frame4 {
    width: 390px;
    height: 112px;
    align-items: center;
    padding: 12px 16px;
}

.depth2Frame5 {
    width: 358px;
    height: 88px;
    align-items: flex-end;
}

.depth3Frame6 {
    width: 358px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
}

.depth4Frame7 {
    width: 358px;
    height: 32px;
    flex-direction: column;
    padding: 0 0 8px;
}

.street {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.depth4Frame14 {
    width: 358px;
    height: 56px;
    align-items: center;
}

.depth5Frame6 {
    width: 358px;
    height: 56px;
    place-content: space-around;
    align-items: flex-start;
    padding: 15px;
    outline: solid 1px #dbe3e5;
    outline-offset: -1px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.depth6Frame5 {
    width: 88.5625px;
    height: 24px;
    flex-direction: column;
    overflow: hidden;
}

.depth7Frame4 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.enterStreet {
    color: #617d8a;
    font-size: 16px;
    line-height: 24px;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth1Frame5 {
    width: 390px;
    height: 112px;
    align-items: center;
    padding: 12px 16px;
}

.depth2Frame6 {
    width: 358px;
    height: 88px;
    align-items: flex-end;
}

.depth3Frame7 {
    width: 358px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
}

.depth4Frame8 {
    width: 358px;
    height: 32px;
    flex-direction: column;
    padding: 0 0 8px;
}

.zipCode {
    color: #121717;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.depth4Frame15 {
    width: 358px;
    height: 56px;
    align-items: center;
}

.depth5Frame7 {
    width: 358px;
    height: 56px;
    place-content: space-around;
    align-items: flex-start;
    padding: 15px;
    outline: solid 1px #dbe3e5;
    outline-offset: -1px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.depth6Frame6 {
    width: 107.7656px;
    height: 24px;
    flex-direction: column;
    overflow: hidden;
}

.depth7Frame5 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.enterZipCode {
    color: #617d8a;
    font-size: 16px;
    line-height: 24px;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth1Frame6 {
    width: 390px;
    height: 120px;
    flex-direction: column;
    padding: 120px 0 0;
}

.depth1Frame7 {
    width: 390px;
    height: 72px;
    align-items: flex-start;
    padding: 12px 16px;
}

.depth2Frame7 {
    width: 358px;
    height: 48px;
    place-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 12px;
    background-color: #1a80e5;

    overflow: hidden;
}

.depth3Frame8 {
    /*width: 149.0781px;*/
    height: 24px;
    flex-direction: column;
    background-color: #1a80e5;

    overflow: hidden;
}

.depth4Frame9 {
    width: min-content;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
}

.saveAndContinue {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: 0.24px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.depth1Frame8 {
    width: 390px;
    height: 20px;
    flex-direction: column;
    padding: 0 0 20px;
    background-color: #fff;
}
